@{ ViewData["Title"] = "News"; }

<h1>@ViewData["Title"]</h1>
<hr>

<h3 class="text-center">Lacazette wins PL Goal of the Month award</h3>
<br>

<div class="container text-center">
    <img class=" w-100 h-50" src="~/foto/news1.png">
    <br>
    <div class="yazi">
        <br>
        Alex Lacazette's finish at the end of a flowing team move against Southampton has been named as the Premier League Goal of the Month for December.

        The move started from the back with Aaron Ramsdale and involved clever link-up between Martin Odegaard, Takehiro Tomiyasu and Bukayo Saka.
        Our winger then picked out our French striker in space, who fired emphatically into the top corner from the edge of the box.

        Click the 'Play' button above to watch Laca's interview and re-live his goal against Southampton!
        "It was perfect movement from the back," Laca said. "From Aaron then we went through on the right side with one-touch [football] and then the cross from Bukayo and I could score.

        "It was really good, because we work this every week, this is the type of goal every team would like to score.
        Everyone was involved and it was really satisfying.

        "It would go in my top five [of my favourite goals] because it was really a team goal and I believe that football is all about the team, so these types of goal are really amazing for me."

        Lacazette's strike beat the likes of Kevin De Bruyne, Bernardo Silva and Mason Mount to the prize.



        <hr>
        <h3 class="text-center">RASHFORD AND RONALDO ABSENCES EXPLAINED</h3>
        <br>


        <img class=" w-100 h-50" src="~/foto/news2.jpg">
        <br>
        <p>
            <br>
            Manchester United interim manager Ralf Rangnick has explained why Cristiano Ronaldo and Marcus Rashford are not in the squad to face Aston Villa at Villa Park.

            It’s the second consecutive clash with the Midlanders that Ronaldo has missed, after the Portuguese sat out the Emirates FA Cup win on Monday with a small muscular problem.

            Rashford played the majority of the 1-0 victory at Old Trafford but is not in our 19-man squad tonight.

            Rangnick revealed that Ronaldo had not yet recovered from his issue earlier in the week.

            “[He’s out] for the same reason he missed the cup game,” Rangnick told Sky.

            “Yesterday before training he still had problems with his hip flexor and we then decided not to train him.

            “Then after training I had another conversation with him and we then decided that it doesn't make sense, if he is still having problems with his hip flexor, to take him on the journey here and then hopefully make sure he can play on Wednesday.”

            Meanwhile, Rashford has been suffering with a dead leg which resulted in him missing training on Friday, meaning he has not been risked.

            “He had, how you call it, a dead leg in training the day before yesterday and it got worse overnight,” Ralf added. “And again he couldn't train yesterday.

            “I spoke with him before the training session and we were waiting until the evening to see if the treatment made it any better but it didn't, so again we decided not to take him with us.”
        </p>


        <hr>
        <h3 class="text-center">Jürgen Klopp on Arsenal stalemate, second-leg aims and more</h3>
        <br>


        <img class=" w-100 h-50" src="~/foto/news3.jpg">
        <br>

        <br>

        <p>

            <b>
                Jürgen Klopp acknowledged Liverpool did not do enough to beat Arsenal after the Carabao Cup semi-final first leg finished goalless at Anfield,
                but the boss is optimistic his team can emerge victorious from next Thursday's second leg.
            </b>

            <br><br>

            The Reds were thwarted by a stubborn Gunners defence after the visitors had been reduced to 10 men on 24 minutes when Granit Xhaka was shown a straight red card for a challenge on Diogo Jota.

            The hosts dominated possession but were unable to find a way through their opponents, meaning the sides will contest the second leg at Emirates Stadium in one week’s time with the tie finely poised.

            Read on to see what Klopp told reporters in his post-match press conference.

        </p>

        <b> On the result and Liverpool’s performance… </b>

        <p>
            First and foremost, I don’t think even you saw this for the first time in the history of football – things like this happen.
            Our situation – and I said it before and it’s not an excuse, it’s an explanation – [meant] for obvious reasons we had to change the line-up tonight.
            I really liked the way we started in the game, I saw absolutely everything we wanted to see in the beginning.
            Front-footed, lively, direct in the right moments, we switched it in the right moments. We started in the game like we wanted to start and then there was the red card and then we play against a low block.
            Against a low block with the most finely-tuned team is difficult and obviously we are not – then on top of that, we made a few wrong decisions,
            we felt too much rushed, it looked like all of sudden we felt under pressure, which doesn’t make sense but it looked for me a little bit like that. It is a typical situation.
        </p>


        <p>
            You go forward to win something tonight and in a second you turn into a situation where you can lose something.
            That’s what I saw in the first half, then we tried to change a couple of things in the second half.
            We wanted to change the way they had to defend us, especially Curtis now – a dribbler on the wing, he is really active there and tries to give them some different problems than before.
            I thought it worked out quite well, then we tried to do the same thing on the right side with Neco, which was not bad as well, but we couldn’t create enough, of course not, for the situation we were in with playing against 10 men for I don’t know how long.
            That’s clear, but, again, this is a cup competition, it is a two-leg semi-final, it is half-time, it is 0-0 and even when probably Arsenal feels in a better position at the moment we don’t feel this tie is over for us so we will give it another proper try next Thursday.
            On how he thinks the second leg will pan out…
        </p>


        <p>
            I have no idea what Arsenal will do when we face them, we will see that.
            It is not in my mind in the moment – my mind is already Brentford, so from Monday on you can ask me these kinds of things about what we will do there.
            As I said, we know we can play better and we know we have to play better and that’s what we will do, what we will work on, that’s clear.
            A lot of things I liked, but the general outcome was not good enough, that’s the truth of this game and we have to accept this for the moment and from here we go.
        </p>


    </div>

</div>

